@import '../../../assets/stylesheets/utils/utils';

$blue: #09c8ff;
$red: #ff4555;
$green: #39d7b3;
$yellow: #ffba4b;

// .flash {
// 	border-radius: 0.125px;
// 	height: 50px;
// 	left: 15px;
// 	line-height: 50px;
// 	padding-left: 30px;
// }

.alert {
	background: $background;
	width: 100%;
	display: flex;
	padding: 1rem;
	align-items: center;
	border-radius: 0.8rem;
	border: 2px solid;
	margin-bottom: 1rem;
	box-shadow: 0px 5px 12px rgba(black, 0.04), 0px 12px 25px rgba(black, 0.07);
	animation: transitionIn 200ms ease forwards;
	transition: all 200ms ease;
	position: absolute;
	top: 12px;
	width: calc(100% - 30px);
	left: 15px;
	z-index: 1000;

	&__close {
		$size: 1.3rem;
		width: $size;
		height: $size;
		line-height: $size;
		text-align: center;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		cursor: pointer;
		border-radius: 0.4rem;
	}

	&__icon {
		margin-right: 1rem;
		$animation-time: 500ms;
		$size: 36px;
		width: $size;
		height: $size;
		animation: fade 500ms linear forwards;
	}

	&__icon__path {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		stroke-width: 4px;
		animation: dash 1s ease forwards;
		&__type {
			animation-delay: 300ms;
			animation-duration: 5s;
		}
	}
}

.notice {
	color: $futuro;
	border-color: $futuro;
}

.error {
	color: $red;
	border-color: $red;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1000;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
