@import '../../../assets/stylesheets/utils/utils';

.flash {
	border-radius: 100rem;
	height: 50px;
	left: 15px;
	line-height: 50px;
	padding-left: 30px;
	position: absolute;
	top: 12px;
	width: calc(100% - 30px);
	z-index: 1000;
}

.notice {
	background-color: $futuro;
}

.error {
	background-color: rgb(209, 24, 0);
}
