@import '../../../assets/stylesheets/utils/utils';

.footer {
	height: 90px;
	width: 100%;
	border-top: 3px solid $jovens;
	background-color: $background;
	.container {
		height: 100%;
		width: 90%;
		padding: 0.8rem 0;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		color: $jovens;

		.sendEmail {
			color: $jovens;

			&:hover {
				color: $futuro;
			}
		}
	}

	@media (min-width: 750px) {
		height: 75px;

		.container {
			justify-content: space-around;
		}

		.sendEmail {
			margin: 5px;
		}
	}

	.twitter:hover {
		color: #1da1f2 !important;
	}

	.instagram:hover {
		color: #c32aa3 !important;
	}

	.facebook:hover {
		color: #2d88ff !important;
	}
}
