@import '../../../assets/stylesheets/utils/utils';

.footer {
	height: 75px;
	width: 100%;
	background-color: $jovens;
	.container {
		height: 100%;
		width: 90%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		color: white;

		.sendEmail {
			color: white;
			margin: 5px;
		}
	}
}
