.sendEmail {
	color: white;
	margin: 5px;
}

.twitter:hover {
	color: #1da1f2 !important;
}

.instagram:hover {
	color: #c32aa3 !important;
}

.facebook:hover {
	color: #2d88ff !important;
}

.linkedin:hover {
	color: #0077b5 !important;
}
