@import '../../../assets/stylesheets/utils/utils';

.pagination {
	margin: 1rem;
	text-align: center;
	.paginationList {
		display: flex;
		justify-content: center;
		align-items: center;

		.item {
			min-width: 1rem;
			padding: 5px 10px;
			margin: 5px;
			cursor: pointer;
			border-radius: 0.25rem;
			box-shadow: 0 0 2px rgba($jovens, 0.3);

			&:hover {
				background-color: $futuro;
				color: $background;
			}
		}

		.disabled {
			display: none;
		}
		.active {
			background-color: $futuro;
			color: $background;
		}
	}
}
