<div class="container">
  <h2>
    <%= @artigo.title %>
  </h2>
  <%= @artigo.contents %>
  <p>
  <%= "#{@artigo.user.name} - #{@artigo.published_at.strftime("%d %b %Y")}" %>
  </p>
  <div class="button-div">
    <%= link_to 'Editar artigo', edit_backoffice_artigo_path(@artigo), class: "button" %>
  </div>
</div>