<div class="container">
  <h2>
    <%= @artigo.title %>
  </h2>
  <%= @artigo.contents %>
  <p>
  <%= "Criado a #{@artigo.published_at.strftime("%d-%m-%Y")} por #{@artigo.user.name}" %>
  </p>
  <div class="button-div">
    <%= link_to 'Editar artigo', edit_backoffice_artigo_path(@artigo), class: "button" %>
  </div>
</div>