<div class="container index"> 
  <%= render 'shared/search_form' %>
  <%= react_component('artigos/Artigos', artigos: @artigos1, page: @page, pages: @pages, perPage: Artigo.per_page, total: @total) %>
</div>
