<div class="container index">
  <% if current_user && current_user.confirmed? %>
    <div class="button-div">
      <%= link_to 'Criar novo artigo', new_artigo_path, class: "button" %>
    </div>
  <% end %>

  <%= react_component('artigos/Artigos', artigos: @artigos1) %>
</div>
