<div class="container">
  <%= react_component('artigos/Artigo', artigo: @artigo1, justHeader: true) %>

  <%= @artigo.contents %>
  <p class="signature">
  <%= "#{@artigo.user.name} - #{@artigo.published_at.strftime("%d %b %Y")}" %>
  </p>
</div>