<div class="container">
  <%= react_component('artigos/Artigo', artigo: @artigo1, justHeader: true) %>
  <div class="content">
    <%= @artigo.contents %>
  </div>
  <p class="signature">
  <%= @artigo.colaborator.name %>
  </p>
  <%= react_component('comments/Comments', comments: @comments) %>
</div>