@import '../../../assets/stylesheets/utils/utils';

.form,
.replyForm {
	width: 100%;
	max-width: 500px;
	border: 1px solid $jovens;
	margin: 20px 0;

	padding: 20px;
	border-radius: 0.125rem;
	.formGroup {
		width: 100%;
		margin-bottom: 5px;
	}
	.formControl {
		width: 100%;
		background-color: $background;
		border: 1px solid $jovens;
		padding: 10px;

		&:disabled {
			text-decoration: line-through;
		}
	}
	.checkbox {
		margin: 10px;
		margin-left: 0;
	}
	.submitButton {
		padding: 5px 10px;
		background: $jovens;
		color: white;
		border: none;
		width: 100%;
	}
}

.replyForm {
	margin-left: auto;
	width: 100%;
}

@media (min-width: 750px) {
	.form,
	.replyForm {
		min-width: 550px;
		width: 50%;
	}

	.replyForm {
		min-width: 450px;
		left: 50px;
		width: calc(50% - 100px);
	}
}
