@import '../../../assets/stylesheets/utils/utils';

.commentAndReplies {
	margin: 50px auto;
	max-width: 55rem;

	.comment {
		width: 100%;

		margin: auto;
		border: 1px solid $futuro-transparent;
		border-radius: 0.125rem;

		.topBar {
			background-color: $futuro-transparent;
			display: flex;
			align-items: center;
			padding: 10px;
			.name {
				margin: 0;
			}
			.date {
				font-size: 0.9rem;
				font-weight: lighter;
				margin: 0;
				margin-left: 10px;
				color: $ando;
			}
		}

		.content {
			margin: 20px;
		}

		.responses {
			margin: 10px 20px 20px;
			display: flex;
			justify-content: space-between;

			.respostas {
				color: $ando;
			}

			.responder {
				text-decoration: underline;
				cursor: pointer;
				color: $ando;
				&:hover {
					color: $futuro;
				}
			}
		}
	}

	.reply {
		width: 100%;
		display: flex;
		border-top: 1px solid $futuro-transparent;

		.sideBar {
			width: 25%;
			padding: 1rem;
			padding-left: 3rem;
			border-right: 1px solid $futuro-transparent;
		}
		.content {
			width: 65%;
			height: 100%;
		}
	}
}

@media (min-width: 750px) {
	.commentAndReplies {
		.comment {
			min-width: 550px;
		}
	}
}
