@import '../../../assets/stylesheets/utils/utils';

.form,
.replyForm {
	width: 100%;
	margin: 20px auto;
	border: 1px solid $futuro-transparent;
	background-color: $futuro-transparent;

	padding: 20px;
	border-radius: 0.25rem;
	.formGroup {
		width: 100%;
		margin-bottom: 5px;
	}
	.formControl {
		width: 100%;
		background-color: $background;
		border: 1px solid $futuro-transparent;
		padding: 10px;

		&:disabled {
			text-decoration: line-through;
		}
	}
	.checkbox {
		margin: 10px;
		margin-left: 0;
	}
	.submitButton {
		padding: 5px 10px;
		background: $jovens;
		color: white;
		border: none;
		width: 100%;
	}
}

.replyForm {
	position: relative;
	left: 25px;
	margin: 10px auto;
	width: calc(100% - 50px);
}

@media (min-width: 750px) {
	.form,
	.replyForm {
		min-width: 550px;

		width: 50%;
	}

	.replyForm {
		min-width: 450px;
		left: 50px;
		width: calc(50% - 100px);
	}
}
