@import '../../../assets/stylesheets/utils/utils';

.container {
	width: 90%;
	max-width: 60rem;
	margin: auto;

	.topSection {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		.leftText {
			font-weight: bold;
			color: $futuro;
		}

		.rigthText {
			margin: 20px 0;
			.text {
				font-size: 18px;
				margin-bottom: 10px;
				line-height: 22px;
			}
		}
	}

	.bottomSection {
		margin-bottom: 50px;
		.subtitle {
			font-weight: bolder;
			color: $jovens;
			margin-bottom: 20px;
		}
		.colaboradores {
			margin-left: 20px;
			.colaborador {
				font-size: 20px;
				margin-bottom: 5px;
			}
		}
	}
}

@media (min-width: 680px) {
	.container {
		.topSection {
			.leftText {
				width: 40%;
			}

			.rigthText {
				text-align: justify;
				margin: 0;
				width: 50%;
			}
		}
	}
	.bottomSection {
		.colaboradores {
			columns: 2;
		}
	}
}
