@import '../../../assets/stylesheets/utils/utils';

.container {
	width: 90%;
	margin: auto;

	.topSection {
		margin: 50px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		.leftText {
			font-weight: bold;
			color: $futuro;
		}

		form {
			width: 100%;
			padding-top: 25px;
			font-size: 16px;
			.formGroup {
				margin: 5px 0;
			}
			.formControl {
				width: 100%;
				padding: 5px;

				&:focus {
					border: 3px solid $futuro;
				}
			}
			.submitButton {
				padding: 10px 0;
				width: 100%;
				color: white;
				background-color: $jovens;
				border: none;
			}
		}
	}
}

@media (min-width: 680px) {
	.container {
		.topSection {
			.leftText {
				width: 40%;
			}

			form {
				width: 50%;
				padding: 25px;
			}
		}
	}
}
