@import '../../../assets/stylesheets/utils/utils';

.topPage {
	margin: 0 auto 50px;
}

.container {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto 50px;

	.subtitle {
		font-weight: bolder;
		color: $jovens;
		margin-bottom: 10px;

		// &:nth-of-type(2) {
		// 	margin-top: 16rem;
		// }
	}

	.text {
		margin-bottom: 10px;
	}

	.image {
		max-width: 713px;
		max-height: 445px;
		height: 50vw;
		width: 80vw;
		background-image: url('https://res.cloudinary.com/drpwozhzg/image/upload/v1616107794/philosopheers-painitng-final.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin: auto;
	}

	.btnSection {
		margin: 4rem auto 1.5rem;
		font-size: 1.25rem;
		position: relative;
		right: Max(calc((100vw - 1240px) / 2), 5.5vw);
		width: 100vw;
		padding: 4rem 0 2.5rem;
	}

	.title {
		position: relative;
		margin: 0 auto;
		width: 90%;

		h3 {
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			bottom: 2.5rem;
			font-weight: bold;
			color: $jovens;

			@media (min-width: 750px) {
				bottom: 2rem;
				margin: 1.5rem auto;
			}
		}
	}

	.outerDiv {
		margin: 0 1rem;
		height: 100%;
		display: grid;
		place-items: center;
	}

	.findMore {
		max-width: 400px;
		text-align: center;
		text-decoration: none;
		width: 100%;
		border-radius: 1rem;
		box-shadow: 3px 3px 0.25rem rgba($jovens, 0.3);
		border-radius: 0.5rem;
		padding: 2rem 1rem;
		background: $background;

		a {
			position: relative;
			color: $background;
			background: none;

			.findMoreBtn {
				overflow: hidden;
				padding: 1rem 1.5rem;
				position: relative;
				z-index: 1;
				background: $futuro;
				box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.2);
				transition: 500ms ease all;

				&:hover {
					background: darken($futuro, 10);
					box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
					transition: 500ms ease all;
				}
			}

			span {
				z-index: 20;
			}
		}
	}
}

.curve {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 95%;
	width: 100%;
	background: $jovens;
	z-index: -1;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		background: $background;
		height: 3%;
	}

	&::before {
		content: '';
		border-bottom-left-radius: 50% 100%;
		border-bottom-right-radius: 50% 100%;
		position: absolute;
		top: 0;
	}

	&::after {
		border-top-left-radius: 50% 100%;
		border-top-right-radius: 50% 100%;
		bottom: 0;
	}

	@media (min-width: 750px) {
		height: 100%;

		&::before,
		&::after {
			height: 6%;
		}
	}
}
