@import '../../../assets/stylesheets/utils/utils';

.container {
	width: 90%;
	margin: auto;
	margin-bottom: 50px;

	.subtitle {
		font-weight: bolder;
		color: $jovens;
		margin-bottom: 10px;
	}

	.text {
		margin-bottom: 10px;
	}
	.image {
		text-align: center;
	}
}
