@import '../../../assets/stylesheets/utils/utils';

.container {
	width: 90%;
	margin: auto;
	margin-bottom: 50px;

	.subtitle {
		font-weight: bolder;
		color: $jovens;
		margin-bottom: 10px;
	}

	.text {
		margin-bottom: 10px;
	}
	.image {
		max-width: 713px;
		max-height: 445px;
		height: 50vw;
		width: 80vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin: auto;
	}
}
