.navbar {
	// display: none;
	color: blue;
	background-color: blue;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	height: 100px;
	width: 100%;
	top: 0;
	z-index: 1;

	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.brand {
		height: 100px;
		.nav-logo {
			background-color: white;
			margin-top: 10px;
			border: 0.25rem solid blue;
			border-radius: 50%;
			height: 80px;
		}
	}

	@media screen and (min-width: 767px) {
		top: 0;
		display: block;
		z-index: 9;

		.link:not(:first-of-type) {
			padding-left: 1rem;
		}

		.brand {
			.nav-logo {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				border: 1rem solid blue;
				margin-top: calc(100px - (1rem + 150px) / 2);
				height: calc(1rem + 150px);
			}
		}
	}

	.navWide {
		display: none;
	}

	// Navbar is set to default with the "hamburger" and links on the left
	// side of the screen. To move to the right of the screen, simply
	// change the three "float: Left;" references to read "float: right;".
	.navNarrow {
		height: 100%;

		.container {
			justify-content: space-between;
			align-items: center;
			position: relative;
			width: 100%;
			padding: 0 5%;
			z-index: 13;
			background-color: blue;
		}

		i {
			float: right;
			cursor: pointer;
			color: #fff;
		}

		.narrowLinks {
			position: relative;
			top: -156px;
			background-color: blue;
			float: right;
			width: 100%;
			z-index: 12;
			padding-right: 1rem;
			// display: none;

			a {
				text-decoration: none;
				display: block;
				float: right;
				clear: right;
				padding: 0.5em 0;
			}
		}
	}
	@media screen and (min-width: 767px) {
		.navWide {
			display: block;
		}

		.navNarrow {
			display: none;
		}
	}
}
