@import '../../../assets/stylesheets/utils/utils';

.artigo {
	max-width: 400px;
	overflow-wrap: anywhere;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&.main {
		margin: auto;
		margin-bottom: 20px;
	}

	.novo {
		position: relative;
		z-index: 10;
		top: 25px;
		right: 32px;
		padding: 5px 10px;
		background-color: red;
		color: white;
		transform: rotate(-25deg);

		&.offset {
			right: 18%;
		}
	}

	.categoria {
		padding: 3px 8px;
		background-color: $ando;
		color: white;
		margin: 10px;
	}
	.photo,
	.articlePhoto {
		width: 150px;
		height: 150px;
		border-radius: 1000rem;
		border: 1rem solid $futuro;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.photo {
		position: relative;
		z-index: 9;

		&:nth-child(2) + :not(.offset) {
			left: 50%;
		}

		&:nth-child(1) + :not(.offset) {
			right: 50%;
		}
	}

	.offset {
		right: 25%;

		+ .photo {
			left: 25%;
		}
	}

	.photo + .photo {
		position: absolute;
		top: 0;

		z-index: 8;
	}

	.title {
		text-align: center;
	}

	.titleLink > .title:hover {
		color: $futuro;
	}

	.content {
		text-align: center;
	}
}

@media (min-width: 750px) {
	.artigo {
		width: 400px;
	}
}
