<div class="container">
  <div class="user-btns">
    <div class="button-div">
      <%= link_to 'Adicionar colaborador', new_backoffice_colaborator_path, class: "button" %>
    </div>
  </div>
  <% @users.each do |user| %>
    <div class="backoffice-user">
      <div class="user-card">
        <div class="user-image" style="<%= "background-image: url('#{user.avatar_url}')" %>"></div>
        <div>
          <h3><%= user.name %></h3>
        </div>
      </div>
      <div class="backoffice-btns">
        <%= link_to 'Editar', edit_backoffice_colaborator_path(user.id), class: 'backoffice-btn unconfirm-btn' %>
      </div>
    </div>
  <% end %>
</div>
