// Place all the styles related to the Artigos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './utils/utils';

.container {
	width: 90%;
	margin: 50px auto;
	min-height: calc(100vh - 300px);

	.button-div {
		height: fit-content;
		margin-bottom: 15px;
		.button {
			padding: 15px;
			background: $jovens;
			color: white;
		}
	}

	h2,
	h3 {
		margin-bottom: 10px;
	}
	.artigos {
		.artigo {
			margin: 25px 0;
		}
	}

	.artigo-form {
		.field {
			margin: 20px 0;
		}
		input[type='submit'] {
			background: $jovens;
			color: white;
		}
	}
}

.trix-content {
	overflow-wrap: anywhere;
	margin-bottom: 1rem;
}
