// Place all the styles related to the backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'utils/utils';

.backoffice-user,
.backoffice-artigo {
	border-bottom: 2px solid black;
	margin: 20px 0;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	.user-card {
		display: flex;
		align-items: center;
	}

	.user-image {
		height: 100px;
		width: 100px;
		margin-right: 10px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.backoffice-btns {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	.backoffice-btn {
		margin: 0;
		text-align: center;
		line-height: 50px;
		width: inherit;
		padding: 5px 10px;
		color: white;

		&.unconfirm-btn {
			background: green;
		}
		&.confirm-btn {
			background: red;
		}
	}
	@media (min-width: 750px) {
		width: max-content;
		.backoffice-btn {
			width: 150px;
			margin: 0 5px;
		}
	}
}
