@import 'utils/utils';

.devise-page {
	width: fit-content;
	height: 100vh;
	margin: auto;
	padding-top: 100px;

	form {
	}

	.field {
		padding: 5px 0;
		margin: 5px 0;
	}

	input[type='submit'] {
		border: none;
		background: $jovens;
		color: white;
		padding: 5px 10px;
		margin-bottom: 5px;
	}
}
